html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#loading { display: block; width: 100%; height: 100%; }
#webview-container { display: none; height: 100%; overflow: hidden;}
webview { width: 100%; height: 100%; }
video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 确保视频覆盖整个窗口 */
}
